<app-masthead></app-masthead>

<div class="w-full max-w-6xl p-6 mx-auto flex flex-col gap-8">
  <button
    class="bg-hampton py-3 px-8 text-asphalt text-sm font-semibold cursor-pointer rounded-md hover:opacity-85 hidden lg:block w-fit"
    routerLink="/"
  >
    ← &nbsp; Back
  </button>
  <div class="flex flex-col gap-4">
    <div class="flex items-center justify-between">
      <h1 class="text-3xl text-cambridge font-bold">{{ experience.title }}</h1>
      <button
        class="bg-cambridge py-3 px-8 text-hampton text-sm font-semibold cursor-pointer rounded-md hover:opacity-80 hidden lg:block"
        (click)="modalService.open('attendance-modal')"
      >
        Attend
      </button>
    </div>
    <p>{{ experience.description }}</p>
    <div class="bg-none flex gap-2 text-sm items-center w-fit">
      <span class="text-cambridge p-3 rounded-md bg-ivory font-medium text-sm">
        <span class="font-bold">
          {{ experience.attendance.expected }} people
        </span>
      </span>
      have signed-up for attendance.
    </div>
  </div>
  <h1 class="text-xl text-cambridge font-bold">Details</h1>
</div>

<!-- Attend Modal -->
<jw-modal id="attendance-modal">
  <div class="basis-2/4 flex flex-col gap-8 p-8">
    <div class="flex flex-col gap-4">
      <h2 class="font-bold text-cambridge text-3xl">
        Want to join this event?
      </h2>
      <p class="text-sm text-ash font-medium">
        Enter your Gordon College student identification card number.
      </p>
      <input
        type="text"
        placeholder="0000-000-00"
        class="p-4 font-semibold outline-none bg-ivory rounded-md w-full"
      />
      <button
        class="bg-cambridge py-3 px-8 text-hampton text-sm font-semibold cursor-pointer rounded-md hover:opacity-80 hidden lg:block"
        (click)="modalService.open('expected-modal')"
      >
        Continue
      </button>
    </div>
  </div>
</jw-modal>

<jw-modal id="expected-modal">
  <div class="basis-2/4 flex flex-col gap-8 p-8">
    <div class="flex flex-col gap-4 text-center items-center justify-center">
      <h2 class="font-bold text-cambridge text-3xl">
        Your attendance is now expected.
      </h2>
      <p class="text-sm text-ash font-medium max-w-lg">
        We will regularly contact you through your student email on updates
        regarding this community extension.
      </p>
      <span class="w-full h-1 bg-ivory my-6"></span>
      <button
        class="bg-cambridge py-3 px-8 text-hampton text-sm font-semibold cursor-pointer rounded-md hover:opacity-80 hidden lg:block w-fit"
        routerLink="/experiences"
      >
        Discover More
      </button>
    </div>
  </div>
</jw-modal>
