<header class="w-full flex justify-center">
    <div
      class="py-6 px-6 flex gap-4 max-w-6xl w-full h-24 items-center justify-between xl:px-0"
    >
      <div class="flex gap-4 items-center">
        <img
          src="https://ik.imagekit.io/drs/crowdpilot/assets/Logo%20Accent%20SVG%20CrowdPilot_9EaH70mmS.svg?updatedAt=1710340228811"
          alt="Join and create personalized community experiences."
          class="w-48 object-contain cursor-pointer hover:opacity-75"
        />
        <nav class="mx-3 hidden lg:block">
          <ul
            class="p-0 m-0 list-none text-asphalt flex gap-3 cursor-pointer font-semibold text-sm"
          >
            <li class="hover:text-eucalyptus" routerLink="/logged-in-user">Home</li>
            <li class="hover:text-eucalyptus">Contact</li>
            <li class="hover:text-eucalyptus">Help</li>
          </ul>
        </nav>
      </div>
      <div class="flex gap-4 items-center">
         <button class="w-9 h-9 rounded-full bg-hampton">             
           <lucide-icon name="message-circle"></lucide-icon>
         </button>
         <button class="w-9 h-9 rounded-full bg-hampton">             
           <lucide-icon name="bell-ring"></lucide-icon>
         </button>
         <button class="w-9 h-9 rounded-full bg-hampton">             
         </button>
         <button class="bg-cambridge py-3 px-8 text-white text-sm font-semibold cursor-pointer rounded-md hover:opacity-85 hidden lg:block"
         routerLink="/">
         Sign out
       </button>
      </div>
    </div>
  </header>
  <hr class="text-eucalyptus">


  <section class="w-full max-w-6xl mx-auto my-10 flex flex-col gap-5">
   <h2 class="text-2xl font-semibold text-cambridge">Experiences</h2>
   <div class="flex gap-4 items-center">
     <button class="w-full py-2 bg-ivory rounded-lg">
       <ul class="p-0 m-0 list-none text-asphalt flex gap-3 cursor-pointer font-semibold text-sm">
         <li class="hover:text-eucalyptus">Upcoming</li>
         <li class="hover:text-eucalyptus">Pending</li>
         <li class="hover:text-eucalyptus">Recurring</li>
         <li class="hover:text-eucalyptus">Past</li>
         <li class="hover:text-eucalyptus">Cancelled</li>
       </ul>  
     </button> 
     <input 
         type="text"
         placeholder="Search"
         class=" bg-ivory border-none px-2 py-2 rounded-lg "
         />
   </div>
   <div class="space-y-4">
     <div
       class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow-md flex justify-between items-center"
     >
       <div class="flex items-center space-x-4">
         <div class="text-center items-center justify-center border-r pr-4">
           <p class="text-xl font-bold text-cambridge">Thu</p>
           <p class="text-3xl text-cambridge">13</p>
         </div>
         <div>
           <p class="font-semibold text-eucalyptus">Community Service Day</p>
           <p class="text-sm text-ash">08:30 AM - 04:30 PM</p>
           <p class="text-sm text-ash">Gordon College</p>
         </div>
       </div>
       <button class="bg-ivory text-eucalyptus px-4 py-2 rounded-lg">Participate</button>
     </div>
     <div
       class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow-md flex justify-between items-center"
     >
       <div class="flex items-center space-x-4">
         <div class="text-center items-center justify-center border-r pr-4">
           <p class="text-xl font-bold text-cambridge">Mon</p>
           <p class="text-3xl text-cambridge">17</p>
         </div>
         <div>
           <p class="font-semibold text-eucalyptus">Tech Career Fair</p>
           <p class="text-sm text-ash">07:00 AM - 10:00 AM</p>
           <p class="text-sm text-ash">Marikit Park</p>
         </div>
       </div>
       <button
         class="bg-ivory text-eucalyptus px-4 py-2 rounded-lg"
       >
         Participate
       </button>
     </div>
     <div
       class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow-md flex justify-between items-center"
     >
       <div class="flex items-center space-x-4">
         <div class="text-center items-center justify-center border-r pr-4">
           <p class="text-xl font-bold text-cambridge">Wed</p>
           <p class="text-3xl text-cambridge">19</p>
         </div>
         <div>
           <p class="font-semibold text-eucalyptus">IT Olympiad</p>
           <p class="text-sm text-ash">09:00 AM - 07:00 PM</p>
           <p class="text-sm text-ash">SM Central</p>
         </div>
       </div>
       <button
         class="bg-ivory text-eucalyptus px-4 py-2 rounded-lg"
       >
         Participate
       </button>
     </div>
     <div
       class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow-md flex justify-between items-center"
     >
       <div class="flex items-center space-x-4">
         <div class="text-center items-center justify-center border-r pr-4">
           <p class="text-xl font-bold text-cambridge">Fri</p>
           <p class="text-3xl text-cambridge">28</p>
         </div>
         <div>
           <p class="font-semibold text-eucalyptus">Coding Bootcamp</p>
           <p class="text-sm text-ash">06:00 AM - 03:00 PM</p>
           <p class="text-sm text-ash">Gordon College</p>
         </div>
       </div>
       <button
         class="bg-ivory text-eucalyptus px-4 py-2 rounded-lg"
       >
         Participate
       </button>
     </div>
     <div
       class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow-md flex justify-between items-center"
     >
       <div class="flex items-center space-x-4">
         <div class="text-center items-center justify-center border-r pr-4">
           <p class="text-xl font-bold text-cambridge">Sun</p>
           <p class="text-3xl text-cambridge">30</p>
         </div>
         <div>
           <p class="font-semibold text-eucalyptus">Data Science Challenge</p>
           <p class="text-sm text-ash">07:00 AM - 10:00 AM</p>
           <p class="text-sm text-ash">Ayala Harbor Point</p>
         </div>
       </div>
       <button
         class="bg-ivory text-eucalyptus px-4 py-2 rounded-lg"
       >
         Participate
       </button>
     </div>
     <!--Calendar -->
     <aside class="w-1/4 ml-1">
       <div class="bg-white p-4 rounded-lg ">
         <div class="text-lg font-bold">
           Good Morning! <span class="text-eucalyptus">Nandy.</span>
         </div>
       </div>
       <div class="bg-yellow-200 dark:bg-yellow-700 p-4 rounded-lg shadow-md mb-4">
         <div class="text-xl font-bold">June</div>
         <div class="text-sm">2024</div>
         <div class="grid grid-cols-7 gap-2 mt-2">
           <div>Sun</div>
           <div>Mon</div>
           <div>Tue</div>
           <div>Wed</div>
           <div>Thu</div>
           <div>Fri</div>
           <div>Sat</div>
 
           <div class="col-span-7 border-t mt-2"></div>
           <div class="text-center">26</div>
           <div class="text-center">27</div>
           <div class="text-center">28</div>
           <div class="text-center">29</div>
           <div class="text-center">30</div>
           <div class="text-center">31</div>
           <div class="text-center">1</div>
           <div class="text-center">2</div>
           <div class="text-center bg-cambridge text-white rounded-full">10</div>
           <div class="text-center">11</div>
           <div class="text-center">12</div>
           <div class="text-center">13</div>
           <div class="text-center">14</div>
           <div class="text-center">15</div>
           <div class="text-center">16</div>
           <div class="text-center">17</div>
           <div class="text-center">18</div>
           <div class="text-center">19</div>
           <div class="text-center">20</div>
           <div class="text-center">21</div>
           <div class="text-center">22</div>
           <div class="text-center">23</div>
           <div class="text-center">24</div>
           <div class="text-center">25</div>
           <div class="text-center">26</div>
           <div class="text-center">27</div>
           <div class="text-center">28</div>
           <div class="text-center">29</div>
           <div class="text-center">30</div>
           <div class="text-center">1</div>
           <div class="text-center">2</div>
           <div class="text-center">3</div>
           <div class="text-center">4</div>
           <div class="text-center">5</div>
           <div class="text-center">6</div>
         </div>
       </div>
       <div
       class="bg-cambridge text-white p-4 rounded-lg shadow-md flex justify-between items-center"
     >
       <div class="text-lg">a.m</div>
       <div class="text-5xl font-bold">12</div>
       <div class="text-5xl font-bold">57</div>
     </div>

     </aside>
   </div>
  </section>

<!-- Next Month -->
  <section class="w-full max-w-6xl mx-auto my-10 flex flex-col gap-5">
   <h2 class="text-2xl text-cambridge font-semibold mb-4">Next Month</h2>
   <div class="space-y-4">
     <h3 class="text-lg font-medium text-cambridge">July</h3>
     <div
     class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow-md flex justify-between items-center"
   >
     <div class="flex items-center space-x-4">
       <div class="text-center items-center justify-center border-r pr-4">
         <p class="text-xl font-bold text-cambridge">Sat</p>
         <p class="text-3xl text-cambridge">20</p>
       </div>
       <div>
         <p class="text-sm text-ash">07:00 AM - 10:00 AM</p>
         <p class="text-sm text-ash">SM Central</p>
         <p class="font-semibold text-eucalyptus">Blockchain Workshop</p>
         <p class="text-sm text-ash">This event is not activated yet.</p>
       </div>
     </div>
     <button
       class="bg-ivory text-eucalyptus px-4 py-2 rounded-lg"
     >
       Participate
     </button>
   </div>
     <div class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow-md flex justify-between items-center">
       <div class="flex items-center space-x-4">
         <div class="text-center items-center justify-center border-r pr-4">
           <p class="text-xl font-bold text-cambridge">Sun</p>
           <p class="text-3xl text-cambridge">28</p>
         </div>
         <div>
           <p class="text-sm text-ash">07:00 AM - 10:00 AM</p>
           <p class="text-sm text-ash">Gordon College</p>
           <p class="font-semibold text-eucalyptus">AR/VR Hackathon</p>
           <p class="text-sm text-ash">This event is not activated yet.</p>
         </div>
       </div>
       <button
         class="bg-ivory text-eucalyptus px-4 py-2 rounded-lg"
       >
         Participate
       </button>
     </div>
   </div>
   <div>
     <h3 class="text-lg font-medium text-cambridge">Aug</h3>
     <div class="bg-white dark:bg-zinc-800 p-4 rounded-lg shadow-md flex justify-between items-center">
       <div class="flex items-center space-x-4">
         <div class="text-center items-center justify-center border-r pr-4">
           <p class="text-xl font-bold text-cambridge">Tue</p>
           <p class="text-3xl text-cambridge">06</p>
         </div>
         <div>
           <p class="text-sm text-ash">07:00 AM - 10:00 AM</p>
           <p class="text-sm text-ash">Marikit Park</p>
           <p class="font-semibold text-eucalyptus">Wellness Fair</p>
           <p class="text-sm text-ash">This event is not activated yet.</p>
         </div>
       </div>
       <button
         class="bg-ivory text-eucalyptus px-4 py-2 rounded-lg"
       >
         Participate
       </button>
     </div>
   </div>
  </section>

  <!-- Footer Component -->
<hr class="text-eucalyptus">

<footer class="w-full flex justify-center">
    <div
    class="py-6 px-6 flex gap-4 max-w-6xl w-full h-24 items-center justify-between xl:px-0"
  >
    <div class="flex gap-4 items-center">
      <img
        src="https://ik.imagekit.io/drs/crowdpilot/assets/Logo%20Accent%20SVG%20CrowdPilot_9EaH70mmS.svg?updatedAt=1710340228811"
        alt="Join and create personalized community experiences."
        class="w-48 object-contain cursor-pointer hover:opacity-75"
      />
      
      <span class="text-eucalyptus"> Copyright © 2024 GCCEPA Crowdpilot </span>
      <nav class="mx-3 hidden lg:block items-center">
        <ul
          class="p-0 m-0 list-none text-asphalt flex gap-3 cursor-pointer font-semibold text-sm"
        >
          <li class="hover:text-eucalyptus" routerLink="/logged-in-user">Home<li>
          <li class="hover:text-eucalyptus" routerLink="">About</li>
          <li class="hover:text-eucalyptus" routerLink="">Features</li>
          <li class="hover:text-eucalyptus" routerLink="">Contact</li>
        </ul>
      </nav>
    </div>
    </div>
</footer>
