<!--Content-->
<div class="space-y-4 items-center justify-center">
    <div class="justify-between flex items-center bg-white rounded-xl border border-ivory py-4 px-8">
      <div class="flex items-center justify-center gap-10">
        <div class="text-center px-0 max-w-10">
          <p class="text-base font-medium text-cambridge">Thu</p>
          <p class="text-4xl font-medium text-cambridge">13</p>
        </div>
      
        <!--Line-->
        <div class="bg-ivory w-0.5 h-14 rounded-sm"></div>

        <div class="flex gap-11">
          <div class="flex-col">
            <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jbG9jay00Ij48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjxwb2x5bGluZSBwb2ludHM9IjEyIDYgMTIgMTIgMTYgMTQiLz48L3N2Zz4=" alt="">
              <p>08:30 AM - 04:30 PM</p>
            </div>
            <div class="text-base text-ash flex gap-2 font-light p-1 w-56 ">
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1tYXAtcGluIj48cGF0aCBkPSJNMjAgMTBjMCA2LTggMTItOCAxMnMtOC02LTgtMTJhOCA4IDAgMCAxIDE2IDBaIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMCIgcj0iMyIvPjwvc3ZnPg==" alt="">
              <p>Gordon College</p>
            </div>
          </div>
        
          <div class="flex-col py-3">
            <div class="font-semibold text-xl text-eucalyptus cursor-pointer">Community Service Day</div>
            <button class="flex text-cambridge font-normal">
              <p class="text-xs">Participant Count: 35</p>
            </button>
          </div>
        </div>
      </div>

      <div class="flex justify-center items-center">
        <button class="bg-cambridge text-white font-medium text-lg rounded-lg h-14 w-52">
          Participate
        </button>
      </div>
    </div>

    <!--2-->
    <div class="justify-between flex items-center bg-backdrop rounded-xl py-4 px-8">
      <div class="flex items-center justify-center gap-10">
        <div class="text-center px-0 w-10">
          <p class="text-base font-medium text-muted">Mon</p>
          <p class="text-4xl font-medium text-muted">17</p>
        </div>
      
        <!--Line-->
        <div class="bg-ivory w-0.5 h-14 rounded-sm"></div>

        <div class="flex gap-11">
          <div class="flex-col">
            <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jbG9jay00Ij48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjxwb2x5bGluZSBwb2ludHM9IjEyIDYgMTIgMTIgMTYgMTQiLz48L3N2Zz4=" alt="">
              <p>07:00 AM - 10:0 AM</p>
            </div>
            <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1tYXAtcGluIj48cGF0aCBkPSJNMjAgMTBjMCA2LTggMTItOCAxMnMtOC02LTgtMTJhOCA4IDAgMCAxIDE2IDBaIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMCIgcj0iMyIvPjwvc3ZnPg==" alt="">
              <p>Marikit Park</p>
            </div>
          </div>
        
          <div class="flex-col py-3">
            <div class="font-semibold text-xl text-eucalyptus cursor-pointer">Tech Career Fair</div>
            <button class="flex text-ash font-normal">
              <p class="text-xs">This event is not activated yet.</p>
            </button>
          </div>
        </div>
      </div>

      <div class="flex justify-center items-center">
        <button class="bg-ivory text-ash font-medium text-lg rounded-lg h-14 w-52 ml-20">
          Participate
        </button>
      </div>
    </div>

    <!--3-->
    <div class="justify-between flex items-center bg-backdrop rounded-xl py-4 px-8">
      <div class="flex items-center justify-center gap-10">
        <div class="text-center px-0 w-10">
          <p class="text-base font-medium text-muted">Wed</p>
          <p class="text-4xl font-medium text-muted">19</p>
        </div>
      
        <!--Line-->
        <div class="bg-ivory w-0.5 h-14 rounded-sm"></div>

        <div class="flex gap-11">
          <div class="flex-col">
            <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jbG9jay00Ij48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjxwb2x5bGluZSBwb2ludHM9IjEyIDYgMTIgMTIgMTYgMTQiLz48L3N2Zz4=" alt="">
              <p>09:00 AM - 07:00 PM</p>
            </div>
            <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1tYXAtcGluIj48cGF0aCBkPSJNMjAgMTBjMCA2LTggMTItOCAxMnMtOC02LTgtMTJhOCA4IDAgMCAxIDE2IDBaIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMCIgcj0iMyIvPjwvc3ZnPg==" alt="">
              <p>SM Central</p>
            </div>
          </div>
        
          <div class="flex-col py-3">
            <div class="font-semibold text-xl text-eucalyptus cursor-pointer">IT Olympiad</div>
            <button class="flex text-ash font-normal">
              <p class="text-xs">This event is not activated yet.</p>
            </button>
          </div>
        </div>
      </div>

      <div class="flex justify-center items-center">
        <button class="bg-ivory text-ash font-medium text-lg rounded-lg h-14 w-52 ml-20">
          Participate
        </button>
      </div>
    </div>

    <!--4-->
    <div class="justify-between flex items-center bg-backdrop rounded-xl py-4 px-8">
      <div class="flex items-center justify-center gap-10">
        <div class="text-center px-0 w-10">
          <p class="text-base font-medium text-muted">Fri</p>
          <p class="text-4xl font-medium text-muted">28</p>
        </div>
      
        <!--Line-->
        <div class="bg-ivory w-0.5 h-14 rounded-sm"></div>

        <div class="flex gap-11">
          <div class="flex-col">
            <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jbG9jay00Ij48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjxwb2x5bGluZSBwb2ludHM9IjEyIDYgMTIgMTIgMTYgMTQiLz48L3N2Zz4=" alt="">
              <p>06:00 AM - 03:00 PM</p>
            </div>
            <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1tYXAtcGluIj48cGF0aCBkPSJNMjAgMTBjMCA2LTggMTItOCAxMnMtOC02LTgtMTJhOCA4IDAgMCAxIDE2IDBaIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMCIgcj0iMyIvPjwvc3ZnPg==" alt="">
              <p>Gordon College</p>
            </div>
          </div>
        
          <div class="flex-col py-3">
            <div class="font-semibold text-xl text-eucalyptus cursor-pointer">Coding Bootcamp</div>
            <button class="flex text-ash font-normal">
              <p class="text-xs">This event is not activated yet.</p>
            </button>
          </div>
        </div>
      </div>

      <div class="flex justify-center items-center">
        <button class="bg-ivory text-ash font-medium text-lg rounded-lg h-14 w-52 ml-20">
          Participate
        </button>
      </div>
    </div>

    <!--5-->
    <div class="justify-between flex items-center bg-backdrop rounded-xl py-4 px-8">
      <div class="flex items-center justify-center gap-10">
        <div class="text-center px-0 w-10">
          <p class="text-base font-medium text-muted">Sun</p>
          <p class="text-4xl font-medium text-muted">30</p>
        </div>
      
        <!--Line-->
        <div class="bg-ivory w-0.5 h-14 rounded-sm"></div>

        <div class="flex gap-11">
          <div class="flex-col">
            <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jbG9jay00Ij48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjxwb2x5bGluZSBwb2ludHM9IjEyIDYgMTIgMTIgMTYgMTQiLz48L3N2Zz4=" alt="">
              <p>07:00 AM - 10:00 AM</p>
            </div>
            <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1tYXAtcGluIj48cGF0aCBkPSJNMjAgMTBjMCA2LTggMTItOCAxMnMtOC02LTgtMTJhOCA4IDAgMCAxIDE2IDBaIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMCIgcj0iMyIvPjwvc3ZnPg==" alt="">
              <p>Ayala Harbor Point</p>
            </div>
          </div>
        
          <div class="flex-col py-3">
            <div class="font-semibold text-xl text-eucalyptus cursor-pointer">Data Science Challenge</div>
            <button class="flex text-ash font-normal">
              <p class="text-xs">This event is not activated yet.</p>
            </button>
          </div>
        </div>
      </div>

      <div class="flex justify-center items-center">
        <button class="bg-ivory text-ash font-medium text-lg rounded-lg h-14 w-52 ml-20">
          Participate
        </button>
      </div>
    </div>

    <!--Next Month-->
    <div class="w-full space-y-4 max-w-6xl pt-14 flex flex-col">
      <div class="text-4xl font-bold text-cambridge">Next Month</div>
      <!--Month-->
      <div class="text-xl font-medium text-asphalt pb-2 pt-5">July</div>
      <!--Content-->
      <div class="justify-between flex items-center bg-backdrop rounded-xl py-4 px-8">
        <div class="flex items-center justify-center gap-10">
          <div class="text-center px-0 w-10">
            <p class="text-base font-medium text-muted">Sat</p>
            <p class="text-4xl font-medium text-muted">20</p>
          </div>
        
          <!--Line-->
          <div class="bg-ivory w-0.5 h-14 rounded-sm"></div>

          <div class="flex gap-11">
            <div class="flex-col">
              <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jbG9jay00Ij48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjxwb2x5bGluZSBwb2ludHM9IjEyIDYgMTIgMTIgMTYgMTQiLz48L3N2Zz4=" alt="">
                <p>07:00 AM - 10:00 AM</p>
              </div>
              <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1tYXAtcGluIj48cGF0aCBkPSJNMjAgMTBjMCA2LTggMTItOCAxMnMtOC02LTgtMTJhOCA4IDAgMCAxIDE2IDBaIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMCIgcj0iMyIvPjwvc3ZnPg==" alt="">
                <p>SM Central</p>
              </div>
            </div>
          
            <div class="flex-col py-3">
              <div class="font-semibold text-xl text-eucalyptus cursor-pointer">Blockchain Workshop</div>
              <button class="flex text-ash font-normal">
                <p class="text-xs">This event is not activated yet.</p>
              </button>
            </div>
          </div>
        </div>

        <div class="flex justify-center items-center">
          <button class="bg-ivory text-ash font-medium text-lg rounded-lg h-14 w-52 ml-20">
            Participate
          </button>
        </div>
      </div>

      <!--2-->
      <div class="justify-between flex items-center bg-backdrop rounded-xl py-4 px-8">
        <div class="flex items-center justify-center gap-10">
          <div class="text-center px-0 w-10">
            <p class="text-base font-medium text-muted">Sun</p>
            <p class="text-4xl font-medium text-muted">28</p>
          </div>
        
          <!--Line-->
          <div class="bg-ivory w-0.5 h-14 rounded-sm"></div>

          <div class="flex gap-11">
            <div class="flex-col">
              <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jbG9jay00Ij48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjxwb2x5bGluZSBwb2ludHM9IjEyIDYgMTIgMTIgMTYgMTQiLz48L3N2Zz4=" alt="">
                <p>07:00 AM - 10:00 AM</p>
              </div>
              <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1tYXAtcGluIj48cGF0aCBkPSJNMjAgMTBjMCA2LTggMTItOCAxMnMtOC02LTgtMTJhOCA4IDAgMCAxIDE2IDBaIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMCIgcj0iMyIvPjwvc3ZnPg==" alt="">
                <p>Gordon College</p>
              </div>
            </div>
          
            <div class="flex-col py-3">
              <div class="font-semibold text-xl text-eucalyptus cursor-pointer">AR/VR Hackathon</div>
              <button class="flex text-ash font-normal">
                <p class="text-xs">This event is not activated yet.</p>
              </button>
            </div>
          </div>
        </div>

        <div class="flex justify-center items-center">
          <button class="bg-ivory text-ash font-medium text-lg rounded-lg h-14 w-52 ml-20">
            Participate
          </button>
        </div>
      </div>

      <!--Month-->
      <div class="text-xl font-medium text-asphalt pb-2 pt-5">Aug</div>
      <!--Content-->
      <div class="justify-between flex items-center bg-backdrop rounded-xl py-4 px-8">
        <div class="flex items-center justify-center gap-10">
          <div class="text-center px-0 w-10">
            <p class="text-base font-medium text-muted">Tue</p>
            <p class="text-4xl font-medium text-muted">06</p>
          </div>
        
          <!--Line-->
          <div class="bg-ivory w-0.5 h-14 rounded-sm"></div>

          <div class="flex gap-11">
            <div class="flex-col">
              <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jbG9jay00Ij48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjxwb2x5bGluZSBwb2ludHM9IjEyIDYgMTIgMTIgMTYgMTQiLz48L3N2Zz4=" alt="">
                <p>07:00 AM - 10:00 AM</p>
              </div>
              <div class="text-base text-ash flex gap-2 font-light p-1 w-56">
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1tYXAtcGluIj48cGF0aCBkPSJNMjAgMTBjMCA2LTggMTItOCAxMnMtOC02LTgtMTJhOCA4IDAgMCAxIDE2IDBaIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMCIgcj0iMyIvPjwvc3ZnPg==" alt="">
                <p>Marikit Park</p>
              </div>
            </div>
          
            <div class="flex-col py-3">
              <div class="font-semibold text-xl text-eucalyptus cursor-pointer">Wellness Fair</div>
              <button class="flex text-ash font-normal">
                <p class="text-xs">This event is not activated yet.</p>
              </button>
            </div>
          </div>
        </div>

        <div class="flex justify-center items-center">
          <button class="bg-ivory text-ash font-medium text-lg rounded-lg h-14 w-52 ml-20">
            Participate
          </button>
        </div>
      </div>
    </div>
  </div>