<!-- Dashboard Component -->
<!-- Dashboard header -->
<header class="w-full flex justify-center">
  <div
    class="flex gap-4 max-w-6xl w-full h-24 items-center justify-between xl:px-0"
  >
    <div class="flex gap-4 items-center">
      <img
        routerLink="/"
        src="https://ik.imagekit.io/drs/crowdpilot/assets/Logo%20Accent%20SVG%20CrowdPilot_9EaH70mmS.svg?updatedAt=1710340228811"
        alt="Join and create personalized community experiences."
        class="w-48 object-contain cursor-pointer hover:opacity-75"
      />
      <nav class="mx-3 hidden lg:block items-center">
        <ul
          class="p-0 m-0 list-none text-asphalt flex items-center gap-6 cursor-pointer font-semibold text-sm"
        >
          <li routerLink="/dashboard" class="hover:text-eucalyptus">
            Dashboard
          </li>
          <li class="hover:text-eucalyptus">My Experiences</li>
          <li class="hover:text-eucalyptus">Calendar</li>
        </ul>
      </nav>
    </div>
    <div class="flex gap-2 items-center">
      <button
        class="py-4 px-8 text-sm font-semibold items-center rounded-sm bg-ivory"
      >
        Sign Out
      </button>
    </div>
  </div>
</header>

<!--Dashboard section -->
<section class="w-full max-w-6xl mx-auto my-10 flex flex-col gap-5">
  <h1 class="text-3xl font-bold text-cambridge">Dashboard</h1>
  <div class="w-full bg-none flex gap-6 h-fit">
    <button
      class="py-4 px-8 text-sm font-semibold items-center rounded-sm bg-hampton"
    >
      Create New Experience
    </button>
    <button
      class="py-4 px-8 text-sm font-semibold items-center rounded-sm bg-ivory"
    >
      View Your Calendar
    </button>
  </div>

  <span class="w-full h-1 bg-backdrop my-10"></span>
  <h1 class="text-3xl font-bold text-cambridge">Your Programs</h1>
  <div class="w-full bg-none flex gap-6 justify-between h-fit">
    <div
      class="basis-2/4 w-2/4 h-80 full block object-cover rounded-md bg-ivory"
    ></div>
  </div>
</section>
