<!--Header-->
<app-header/>
<div class="flex-col flex h-screen">

<!--Components-->
<div class="flex flex-1 gap-16">
  <!--Sidebar-->
  <app-sidebar/>

  <!--Main-Component-->
  <div class="w-full max-w-6xl my-10 flex flex-1 flex-col">
    <!--Title-->
    <div class="text-4xl font-bold text-cambridge">Experiences</div>
    <!--Navigation-Bar-->
    <div class="flex gap-7 items-center py-10">
      <div class="bg-backdrop rounded-xl py-2 px-16">
        <button class="py-2">
          <ul class="list-none text-ash flex cursor-pointer font-medium text-sm gap-28">
            <li class="hover:text-eucalyptus" (click)="showEvents('upcoming')">Upcoming</li>
            <li class="hover:text-eucalyptus" (click)="showEvents('pending')">Pending</li>
            <li class="hover:text-eucalyptus" (click)="showEvents('recurring')">Recurring</li>
            <li class="hover:text-eucalyptus" (click)="showEvents('past')">Past</li>
            <li class="hover:text-eucalyptus" (click)="showEvents('cancelled')">Cancelled</li>
          </ul>
        </button>
      </div>
      
      <!--Search-->
      <div class="bg-ivory px-2 py-2 rounded-full flex gap-1">
        <input type="image" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM2ODY4NjgiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zZWFyY2giPjxjaXJjbGUgY3g9IjExIiBjeT0iMTEiIHI9IjgiLz48cGF0aCBkPSJtMjEgMjEtNC4zLTQuMyIvPjwvc3ZnPg==" alt="">
        <input type="text" class="bg-ivory" placeholder="Search">
      </div>
    </div>

    <div *ngIf="currentView === 'upcoming'">
      <app-upcoming/>
    </div>
    <div *ngIf="currentView === 'pending'">
      <app-pending/>
    </div>
    <div *ngIf="currentView === 'recurring'">
      <app-recurring/>
    </div>
    <div *ngIf="currentView === 'past'">
      <app-past/>
    </div>
    <div *ngIf="currentView === 'cancelled'">
      <app-cancelled/>
    </div>
  </div>
</div>

<!-- Footer-->
<app-footer/>
</div>