<header class="w-full flex border-b border-muted justify-between">
    <div class="flex h-24 items-center justify-center gap-10">
        <!--logo-->
        <div class="text-cambridge font-extrabold text-3xl pl-20 cursor-pointer">crowdpilot.</div>
        <!--nav-bar-->
        <nav class="items-center justify-center mx-3 lg:block">
            <ul class="flex list-none text-asphalt font-semibold text-base cursor-pointer gap-8">
                <li class="hover:text-eucalyptus"><a routerLink="/">Home</a></li>
                <li class="hover:text-eucalyptus" routerLink="/contact">Contact</li>
                <li class="hover:text-eucalyptus" routerLink="/">Help</li>
            </ul>
        </nav>
    </div>
    <!--Buttons-->
    <div class="flex justify-end items-center gap-5 pr-20">
        <div class="flex gap-2">
            <!--Message-->
            <button class="bg-hampton rounded-full w-10 h-10 flex items-center justify-center">
            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMyMTQ2M2UiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1tZXNzYWdlLWNpcmNsZSI+PHBhdGggZD0iTTcuOSAyMEE5IDkgMCAxIDAgNCAxNi4xTDIgMjJaIi8+PC9zdmc+" alt="" 
            class="w-5 h-5">
            </button>
            <!--Bell-Ring-->
            <button class="bg-hampton rounded-full w-10 h-10 flex items-center justify-center">
            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMyMTQ2M2UiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1iZWxsLXJpbmciPjxwYXRoIGQ9Ik02IDhhNiA2IDAgMCAxIDEyIDBjMCA3IDMgOSAzIDlIM3MzLTIgMy05Ii8+PHBhdGggZD0iTTEwLjMgMjFhMS45NCAxLjk0IDAgMCAwIDMuNCAwIi8+PHBhdGggZD0iTTQgMkMyLjggMy43IDIgNS43IDIgOCIvPjxwYXRoIGQ9Ik0yMiA4YzAtMi4zLS44LTQuMy0yLTYiLz48L3N2Zz4=" alt="" 
            class="w-5 h-5">
            </button>
        </div>
      
      <!--Line-Divider-->
      <div class="w-0.5 h-9 rounded-sm bg-ivory"></div>

      <!--Sign-out-->
      <button class="bg-cambridge rounded-lg py-3 px-8 text-white text-sm font-semibold cursor-pointer hover:opacity-85"><a routerLink="/"></a>
        Sign out
      </button>

    </div>
</header>