<!-- Masthead Component -->
<app-masthead />

<!-- Hero Component-->
<app-hero />

<!-- Search Component -->
<app-search />

<!-- Spotlight Component (Community Extensions Happening Soon) -->
<app-spotlight heading="Coming Up Next" />

<!-- Billboard Component (Community Extensions Next Month) -->
<app-billboard heading="Happening Soon" />
<!-- Footer Component -->
<hr class="text-eucalyptus">

<footer class="w-full flex justify-center">
     <div
     class="py-6 px-6 flex gap-4 max-w-6xl w-full h-24 items-center justify-between xl:px-0"
   >
     <div class="flex gap-4 items-center">
       <img
         src="https://ik.imagekit.io/drs/crowdpilot/assets/Logo%20Accent%20SVG%20CrowdPilot_9EaH70mmS.svg?updatedAt=1710340228811"
         alt="Join and create personalized community experiences."
         class="w-48 object-contain cursor-pointer hover:opacity-75"
       />
       
       <span class="text-eucalyptus"> Copyright © 2024 GCCEPA Crowdpilot </span>
       <nav class="mx-3 hidden lg:block items-center">
         <ul
           class="p-0 m-0 list-none text-asphalt flex gap-3 cursor-pointer font-semibold text-sm"
         >
           <li class="hover:text-eucalyptus"><a routerLink="/">Home</a></li>
           <li class="hover:text-eucalyptus" routerLink="/about">About</li>
           <li class="hover:text-eucalyptus" routerLink="/features">Features</li>
           <li class="hover:text-eucalyptus" routerLink="/contact">Contact</li>
         </ul>
       </nav>
     </div>
     </div>
</footer>