<!-- Masthead Component -->
<app-masthead />

<!-- Hero Component-->
<app-hero />

<!-- Search Component -->
<app-search />

<!-- Footer -->
<hr class="text-ivory mt-80">

<footer class="w-full flex justify-center">
     <div
     class="py-6 px-6 flex gap-4 max-w-6xl w-full h-24 items-center justify-between xl:px-0"
   >
     
       <h1 class="font-extrabold text-cambridge text-4xl">crowdpilot.</h1>
       <span class="text-ash font-regular text-sm"> Copyright © 2024 GCCEPA Crowdpilot </span>
       <nav class="mx-3 hidden lg:block">
        <ul
          class="p-0 m-0 list-none text-asphalt flex gap-6 cursor-pointer font-medium text-sm"
        >
          <li class="hover:text-eucalyptus"><a routerLink="/">Home</a></li>
          <li class="hover:text-eucalyptus" routerLink="/about">About</li>
          <li class="hover:text-eucalyptus" routerLink="/features">Features</li>
          <li class="hover:text-eucalyptus" routerLink="/contact">Contact</li>
        </ul>
      </nav>
     </div>
</footer>